@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    
}
body{
    background: radial-gradient(#98B305, #749601);

}
.game-heading{
    color: rgb(29, 31, 29);
    font-size: 4rem;
    text-align: center;
}
.game-info{
    position: absolute;
    right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
#difficulty-level{
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

#start-button{
    margin: 2rem;
    padding: 1rem !important;
    font-size: 1.5rem;
    font-weight: bold;
}
#score{
    position: absolute;
    top: 10rem;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background-color: #C7ECAA;
    border: 3px solid black;
    display: grid;
    height: 40rem;
    width: 40rem;
    grid-template-columns: repeat(20, 2rem);
    grid-template-rows: repeat(20,2rem);
}

.snake-head{
    background: rgb(52, 43, 43);
    border-radius: 1rem;
}
.snake-body{
    background: purple;
    border-radius: 0.8rem;
}
.snake-food{
    border-radius: 0.5rem;
    background: yellow;
}
.snake-food2{
    border-radius: 0.5rem;
    background-color: rgb(189, 231, 104);
}
#start-button{
    padding: 0.5rem;
    border-radius: 1rem;
}

#game-over{
    position: absolute;
    font-size: 2rem;
    top: 18.5rem;
    right: 11.3rem;
}
.none{
    display: none;
}